.services {
  &__item {
    position: relative;

    &:hover img {
      transform: scale(1.1);
    }

    &-imgBx {
      width: 100%;
      height: 240px;
      overflow: hidden;
      border-radius: 8px;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .5s ease;
      }

      &:after {
        content: "";
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: inherit;
        background-color: rgba($color: #000, $alpha: 0.4);
      }
    }

    &-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &-title {
      @include subtitle-size;
      font-family: $open600;
    }
  }
}