.header {
  &__top {
    marquee {
      word-spacing: 4px;
    }
  }

  &__middle {
    .col:nth-child(2) {
      border-left: 1px solid $txt-color2;
    }
  }

  &__func {
    &-item {
      i {
        @include normal-size;
        color: $primary;
        cursor: pointer;
      }
    }

    position: relative;
  }

  &__theme {
    position: absolute;
    background-color: #fff;
    top: 150%;
    left: -30%;
    z-index: 99;
    width: 200px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 1, 0.14);

    &-label {
      font-family: $open700;
      user-select: none;
    }

    .list-group-item {
      border: none;
      user-select: none;

      .form-check-input:checked {
        background-color: $primary;
        border-color: $primary;
      }
    }
  }

  &__font {
    &-item {
      font-size: $txt-size;
      cursor: pointer;
      font-family: $open600;
      user-select: none;
      width: 30px;
      height: 30px;
      display: grid;
      place-items: center;
      letter-spacing: 2px;
    }
  }

  &__lang {
    &-item {
      @include normal-size;
      font-family: $open600;
      cursor: pointer;

      &.active {
        color: $primary;
        text-decoration: underline;
        font-family: $open700;
      }
    }
  }

  .navbar {
    &__logo {
      width: 120px;
      height: 60px;
      object-fit: cover;
    }

    .nav-link {
      font-size: $txt-size;
      font-family: $open600;
      padding: 8px 12px;
      text-transform: uppercase;
      color: $txt-color1;

      &:after {
        display: none;
      }
    }

    .dropdown-item {
      &:active {
        background-color: $primary;
      }
    }

    &-toggler {
      border: none;

      &:active,
      &:focus {
        box-shadow: none;
        outline: none;
      }

      &-icon {
        background-image: none;

        i {
          font-size: 24px;
          color: $txt-color1;
        }
      }
    }
  }
}