* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: $open400;
  src: url("../../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: $open500;
  src: url("../../fonts/OpenSans-Medium.ttf");
}

@font-face {
  font-family: $open600;
  src: url("../../fonts/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: $open700;
  src: url("../../fonts/OpenSans-Bold.ttf");
}

body {
  font-family: $open500, sans-serif;
  font-size: $txt-size;
  color: $txt-color1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  outline: none !important;
  text-decoration: none;
  color: inherit;
}

.bg-light {
  background-color: #fff !important;
}

.section-title {
  font-size: $title-size;
  font-family: $open700;
  margin-bottom: 0;
}

.section-subtitle {
  font-size: $subtitle-size;
  font-family: $open700;
  margin-bottom: 0;
}

.primary-color {
  color: $txt-color1;
}

.line {
  width: 100px;
  height: 4px;
  margin: 24px auto;
  background: linear-gradient(to right, #babab9 50%, #e1e1e1 50%);
}

.link-btn {
  font-family: $open700;
  font-size: $normal-size;
  transition: color .3s ease;

  img {
    margin-left: 2px;
    margin-bottom: 4px;
    transition: margin-left .3s ease;
  }

  &:hover {
    color: $primary;
    img {
      margin-left: 6px;
    }
  }
}